   .progress-container{
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin-bottom: 20px;
        margin:0 auto;
    }
    .circle{
        width:30px;
        height:30px;
        border:2px solid #3498db;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color:#decdcd;
        position: relative;

    }
    .circle.active {
      border-color: #3498db;
      background-color: #3498db;
      color: white;
}
.button{
    display: block;
    margin: 1rem 0 1rem 30%;
}
#prev,#next {
  padding: 10px 20px;
  margin-left:2rem;
  background-color: #3498db;
  border-radius: 15%;
}
.circle::before {
    content: '';
    position: absolute;
    width:50px; /* adjust this value based on your design */
    height: 2px;
    background: #ddd;
    top: 50%;
    right: 30px; /* adjust this value based on your design */
    z-index: -1;
}
#circle-1::before {
    background: none;
}
.circle.active::before {
    background: #3498db;
}